body {
  padding-top: 0;
}

html,body{
	height: 100%;
}

#pager {
	display: flex;
	flex-flow: direction wrap;
	justify-content: center;
}
#itemList:hover{
	cursor: pointer;
	background-color: rgba(120,120,120,0.2);
}
.wrap {
   min-height:100%;
   position:relative;
   padding-bottom:5vh;
}

.filter-btn{
	display: none;
	font-size: 24px;
	padding: 0 8px;
}
.filter-head{
	font-size: 36px;
	padding: 0 8px;
}

.marg-bott{
	margin-bottom: 28px;	
}
.list-group{
		display: block;
}
.filter{
	margin-bottom: 14px;
}

.panel{
	padding: 14px;
}

.btn{
	text-align: center;
	margin: 0 14px;
}

.form-control{
	margin-bottom: 14px;
}
.undraggable{
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}

#checkall2{
	margin: 0;
}

@media screen and (max-width: 815px) {
	.filter-btn{
		display: inline;
		position: absolute;
		top:24px;
		right: 24px;
	}
	.my-4{
		border-radius: 5px;
		border: 1px solid rgba(200, 200, 200, 0.42);
	}
	.my-4:hover{
		cursor: pointer;
		background-color: var(--accent-color);
		border: none;
	}
	.my-4:active{
		background-color: var(--accent-color);
		border: none;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.42);
	}
	.list-group{
		display: none;
	}
}