<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>aqua</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	
	<servlet>
		<servlet-name>BoardFrontController</servlet-name>
		<servlet-class>client.controller.BoardFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookAdminFrontController</servlet-name>
		<servlet-class>admin.controller.BookAdminFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentFrontController</servlet-name>
		<servlet-class>client.controller.CommentFrontController</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>ItemAdminFrontController</servlet-name>
		<servlet-class>admin.controller.ItemAdminFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagerFrontController</servlet-name>
		<servlet-class>admin.controller.ManagerFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberFrontController</servlet-name>
		<servlet-class>client.controller.MemberFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QnaBoardFrontController</servlet-name>
		<servlet-class>client.controller.QnaBoardFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QnaAdminFrontController</servlet-name>
		<servlet-class>admin.controller.QnaAdminFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReviewFrontController</servlet-name>
		<servlet-class>admin.controller.ReviewFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookFrontController</servlet-name>
		<servlet-class>client.controller.BookFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoticeFrontController</servlet-name>
		<servlet-class>client.controller.NoticeFrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoAdminFrontController</servlet-name>
		<servlet-class>admin.controller.NoAdminFrontController</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>NoticeFrontController</servlet-name>
		<url-pattern>*.no</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoAdminFrontController</servlet-name>
		<url-pattern>*.adn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardFrontController</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookAdminFrontController</servlet-name>
		<url-pattern>*.ady</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentFrontController</servlet-name>
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemAdminFrontController</servlet-name>
		<url-pattern>*.adx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerFrontController</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberFrontController</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QnaBoardFrontController</servlet-name>
		<url-pattern>*.qa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QnaAdminFrontController</servlet-name>
		<url-pattern>*.adq</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReviewFrontController</servlet-name>
		<url-pattern>*.adr</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>BookFrontController</servlet-name>
		<url-pattern>*.bk</url-pattern>
	</servlet-mapping>
</web-app>